* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    background-color: lightslategray;
}

header h1 {
    font-size: 50px;
    color: white;
    background-color: lightcoral;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

header h1::before {
    content: '\2022';
    margin-right: 10px;
}

header h1::after {
    content: '\2022';
    margin-left: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    font-size: 30px;
    margin: 25px;
}

a {
    color: white;
}

.image {
    background-color: beige;
    padding: 10px;
}

.image img {
    border-radius: 30px;
    margin-left: 10px;
}

.subtitle {
    font-size: 22px;
    color: darkgoldenrod;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    position: relative;
    bottom: 125px;
    padding-right: 200px;
}

.content {
    font-size: 18px;
    color: darkslategrey;
}

.content h2 {
    font-size: 45px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
}

.about-me p {
    font-size: 20px;
    padding: 0 20px;
    line-height: 1.5;
    position: relative;
    width: 70%;

    border-left: 6px solid darkslategrey;
    height: 310px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
}

.box {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-auto-rows: 100px;
    gap: 20px;
    width: 70%;

    border-left: 6px solid darkslategrey;
    height: 400px;
    padding: 2%;
}

#box-s {
    padding: 10px;
    border: 3px solid darkslategrey;
    border-radius: 5px;
}

#box-l {
    padding: 10px;
    border: 3px solid darkslategrey;
    border-radius: 5px;
}

#box-c {
    padding: 10px;
    border: 3px solid darkslategrey;
    border-radius: 5px;
}

#box-p {
    padding: 10px;
    border: 3px solid darkslategrey;
    border-radius: 5px;
}

#box-r {
    padding: 10px;
    border: 3px solid darkslategrey;
    border-radius: 5px;
}

.contact-me {
    background-color: lightslategray;
    color: white;
    padding: 1%;
}

.contact-me ul {
    font-size: 24px;
    padding-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    list-style: none;
}

.contact-me ul li {
    position: relative;
    left: 200px;
}